* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 16px 120px;
}

.logo img {
  max-width: 140px;
}

nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 50px;
}

.menu li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

nav .btn {
  background-color: #469165;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

#banner {
  background-image: url(../assets/hero-bg.png);
  height: 674px;
}

.banner-container {
  width: 85%;
  max-width: 1360px;
  text-align: center;
  margin: 0 auto;
  padding: 120px;
}

.banner-container h4 {
  background-color: whitesmoke;
  border-radius: 25px;
  padding: 8px 8px;
  font-weight: 600;
  color: #469165;
  font-size: 16px;
  max-width: 250px;
  margin: 0 auto 10px;
}

.banner-container .white-text {
  font-size: 80px;
  color: white;
  font-weight: 700;
}

.banner-container .green-text {
  font-size: 80px;
  color: #49b074;
  font-weight: 700;
  margin-bottom: 15px;
}

.banner-container p {
  color: white;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 30px;
}

.banner-btn {
  background-color: #469165;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  margin-right: 20px;
  font-size: 16px;
  gap: 10px;
  cursor: pointer;
}

#note-section {
  padding-top: 20px;
}

.note-container {
  width: 85%;
  max-width: 1360px;
  text-align: center;
  margin: 0 auto;
}

.note-content h2 {
  padding-top: 60px;
  font-size: 50px;
  margin-bottom: 12px;
}

.note-content p {
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.705);
  margin-top: 8px;
}

.card-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin: 40px 0;
}

.card {
  max-width: 330px;
  height: 300px;
  padding: 60px 24px;
  box-shadow: 0 0 8px 0 #00000035;
  border-radius: 5px;
}

.card img {
  background-color: #469165;
  padding: 12px;
  border-radius: 100%;
}

.card h4 {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0;
}

.card p {
  font-size: 15px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.705);
}

#second-brain {
  padding: 80px 0;
}

.brain-container {
  width: 85%;
  max-width: 1360px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  gap: 60px;
}

.brain-image img {
  max-width: 500px;
}

.brain-content h4 {
  font-size: 18px;
  color: #49b074;
  font-weight: 500;
}

.brain-content h2 {
  font-size: 50px;
  margin: 5px 0;
}

.brain-content p {
  /* max-width: 600px; */
  font-size: 16px;
  color: rgba(0, 0, 0, 0.705);
  padding-top: 5px;
  margin-bottom: 20px;
}

.brain-content ul {
  list-style: none;
}

.brain-content ul li img {
  vertical-align: bottom;
  margin-right: 5px;
}

.brain-content ul li {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

#access-section {
  margin-bottom: 100px;
}

.access-container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 80px;
  text-align: center;
  background-color: rgba(245, 245, 220, 0.726);
}

.section-title {
  font-size: 45px;
  margin-bottom: 5px;
}

.section-info {
  font-size: 16px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.705);
  margin-bottom: 20px;
}

.banner-btn img {
  vertical-align: bottom;
}

.more-info {
  line-height: 20px;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.705);
}

#footer {
  background-color: #0f2854;
}

.footer-container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 50px;
  color: white;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

hr {
  border: .5px solid grey;
}

.footer-img {
  max-width: 140px;
}

.social-links h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.icons a {
  max-width: 20px;
  list-style-type: none;
  color: white;
  margin-right: 8px;
}

.copy-right-text p {
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  margin: 16px 0;
}
