* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.note-container {
    width: 85%;
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
}

.note-content h2 {
    padding-top: 60px;
    font-size: 50px;
}

.note-content p {
    font-size: 16px;
    line-height: 20px;
    color: rgb(113, 112, 112);
    margin-top : 8px;
}

.card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin: 40px 0;
}

.card {
    max-width: 330px;
    height: 300px;
    padding: 60px 24px;
    box-shadow: 0 0 8px 0 #00000027;
}

.card img {
    background-color: #F95555;
    padding: 12px;
    border-radius: 100%;
}

.card h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0;
}

.card p {
    font-size: 16px;
    line-height: 20px;
    color: rgb(113, 112, 112);
}

